<section>
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />
    This is main example view <br />

    <div #viewME>
        View MEEEEE
    </div>

    @defer (on viewport(viewME)) {
        <small-component></small-component>
    }


    <button (click)="loadMediumComponent = true">
        Load Medium Component
    </button>

    @defer (when loadMediumComponent) {
        <medium-component></medium-component>
    }






</section>
<!--
<small-component></small-component> -->
